@use '@angular/material' as mat;
@use './variables/fonts' as fonts;
@use './variables/colors' as colors;

html {
    @include mat.theme((color: (primary: colors.$meme-it-primary,
                tertiary: colors.$meme-it-tertiary,
                theme-type: dark,
            ),
            typography: Roboto,
            density: 0,
        ), $overrides: (surface: colors.$background-color,
            on-surface: #e8e3ff,
            on-surface-variant: #c8c5d0,
        ));
}

body {
    color-scheme: dark;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);
    font-family: fonts.$font-family-base;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: fonts.$font-family-base;
}

h1,
h2,
h3,
h4 {
    font-family: fonts.$font-family-heading;
}

* {
    box-sizing: border-box;
}