// Meme-It Custom Theme Colors
$primary-color: #c807af;
$tertiary-color: #7c88d4;
$background-color: #000384;

// Custom color palettes for Angular Material
// These colors are used to generate the Material Design color system
$meme-it-primary: (
    0: #000000,
    10: #3a0033,
    20: #5a0050,
    25: #6d0061,
    30: #800072,
    35: #940083,
    40: #a80095,
    50: #c807af,
    60: #da44c4,
    70: #e86fd5,
    80: #f39ae6,
    90: #fbc5f4,
    95: #fde3fb,
    98: #fff0fd,
    99: #fffbff,
    100: #ffffff,
);

$meme-it-tertiary: (
    0: #000000,
    10: #191c3d,
    20: #2e3254,
    25: #393d60,
    30: #44486c,
    35: #505479,
    40: #5c6085,
    50: #7c88d4,
    60: #8f9be0,
    70: #a3aeec,
    80: #b7c1f8,
    90: #ccd5ff,
    95: #e5e8ff,
    98: #f5f6ff,
    99: #fefbff,
    100: #ffffff,
);