<div class="game-play-container">
    <!-- Game Timer -->
    <memeit-game-timer [duration]="timerDuration" [endTime]="creativePhaseEndTime" (timeExpired)="onTimeExpired()">
    </memeit-game-timer>

    <div class="game-header">
        <h1>Round {{ roundNumber }}</h1>
        <p>Game Code: {{ gameCode }}</p>
    </div>

    <!-- Meme Creative Phase Component -->
    <memeit-meme-creative *ngIf="isCreativePhase" [gameCode]="gameCode" [roundNumber]="roundNumber"
        (memeSubmitted)="onMemeSubmitted()">
    </memeit-meme-creative>

    <!-- Meme Rating Phase Component -->
    <memeit-meme-rating *ngIf="isScorePhase" [gameCode]="gameCode" [roundNumber]="roundNumber"
        [memeSubmission]="currentMemeToRate" (ratingSubmitted)="onRatingSubmitted()">
    </memeit-meme-rating>
</div>