  <div class="page-background">
    <svg viewBox="0 0 100 100" preserveAspectRatio="none" class="background-gradient">
      <linearGradient id="background-gradient" gradientTransform="rotate(45)">
        <stop offset="5%" stop-color="#a866cd"></stop>
        <stop offset="95%" stop-color="#c846fd"></stop>
      </linearGradient>
      <rect x="0" y="0" width="100" height="100" fill="url(#background-gradient)"></rect>
    </svg>
    <div class="background-spinner">
      <svg viewBox="0 0 100 100" class="background-rays">
        <g fill="white" opacity="0.1">
          <path d="M50 50 V268 L-17.34 257.30 L50 50Z"></path>
          <path d="M50 50 L-157.20 117.30 L-167.90 50 H50Z"></path>
          <path d="M50 -167.90 L117.30 -157.20 L50 50 V-167.90Z"></path>
          <path d="M50 50 L257.30 -17.34 L268 50 H50Z"></path>
          <path d="M50 50 L257.30 117.30 L226.40 178.20 L50 50Z"></path>
          <path d="M50 50 L-78.10 226.40 L-126.30 178.20 L50 50Z"></path>
          <path d="M117.30 257.30 L178.20 226.40 L50 50 L117.30 257.30Z"></path>
          <path d="M50 50 L178.20 -126.30 L226.40 -78.10 L50 50Z"></path>
          <path d="M-17.34 -157.20 L-78.10 -126.30 L50 50 L-17.34 -157.20Z"></path>
          <path d="M-126.30 -78.10 L-157.20 -17.34 L50 50 L-126.30 -78.10Z"></path>
        </g>
      </svg>
    </div>
  </div>