.page-background {
  position: fixed;
    z-index: -10;
  width: 100vw;
  height: 100vh;

  .background-gradient {
    width: 100vw;
    height: 100vh;
  }

  .background-spinner {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  
overflow: hidden;;  
  


    .background-rays {
      width: 100vw;
      height: 100vw;
      overflow: visible;
      animation: background-rays-rotator 240s linear infinite;
    }
  }
}

@keyframes background-rays-rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}