.app-title-header {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.app-title {
    font-family: "Luckiest Guy", cursive;
    text-align: center;
    rotate: -5deg;
    -webkit-text-stroke: #a866cd 2px;
    font-size: 3rem;
    line-height: 2rem;
    margin: 0;

    span {
        display: block;
    }
}

.app-title-large {
    font-size: 5rem;
    line-height: 4rem;
    -webkit-text-stroke: #a866cd 3px;
}

@media screen and (min-width: 768px) and (orientation: portrait) {
    .app-title {
        -webkit-text-stroke: #a866cd 3px;
        font-size: 6rem;
        line-height: 4rem;
    }

    .app-title-large {
        font-size: 10rem;
        line-height: 8rem;
        -webkit-text-stroke: #a866cd 6px;
    }
}

@media screen and (min-width: 1200px) {
    .app-title {
        -webkit-text-stroke: #a866cd 3px;
        font-size: 6rem;
        line-height: 4rem;
    }

    .app-title-large {
        font-size: 10rem;
        line-height: 8rem;
        -webkit-text-stroke: #a866cd 6px;
    }
}